header{
    border: 1px solid grey;
    color:gray;
    font-style: italic;
    padding: 8px;
}

div.calc_click{
    padding-top: 8px;
}

div.calc_item label{
    clear: left;
    display: inline-block;
    float: left;
    text-align: left;
    width: 185px;
}

div.calc_item input, output{
  display: inline-block;
  float: left;
  text-align: right;
  width: 90px;
}
